<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Page</title>
 
 
</head>
<body>
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Hello World.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur et est sed felis aliquet sollicitudin</p>
      </div>
    </div>
    <div class="right">
      <h5>Registration</h5>
      <div class="inputs">
        <input type="text" placeholder="First Name">
        <br>
        <input type="text" placeholder="Last Name">
        <br>
        <input type="text" placeholder="Email">
        <br>
        <input type="password" placeholder="Password">
      </div>
      <br><br>
      <div class="remember-me--forget-password">
      </div>
     
      <button>Register</button>
      <div class="col-xs-12">
        <div class="text-center home-text">
            <button [routerLink]="['/']" class="text-underline btn btn-link back-to-home" style="position: absolute;">
                Back to Home
              </button>
              
        </div>
      </div>
    </div>
  
      
  </div>

</body>

</html>
